In [ ]:
#Exercise 1: Create a new Jupyter notebook called DataScienceEcosystem.ipynb

In [ ]:
#Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
#Exercise 3 - Create a markdown cell for an introduction

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular language in DS
* Comonly used Libraries in DS
* Tools used in DS

In [1]:
#Exercise 4 - Create a markdown cell to list data science languages

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. Java

In [ ]:
#Exercise 5 - Create a markdown cell to list data science libraries

### Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. Keras

In [ ]:
#Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
----------------
| Jupyter notebook |
|Vs Code|
|R studio|

In [ ]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

| expression |
----------------
| + |
|-|
|* |
|/|

In [ ]:
#Exercise 8 - Create a code cell to multiply and add numbers

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
#Exercise 9 - Create a code cell to convert minutes to hours

In [14]:
#This will convert 200 minutes to hours by diving by 60.
min=200
hrs=(200/60)

In [15]:
round(hrs)

3

In [ ]:
#Exercise 10 - Insert a markdown cell to list Objectives

# refer above

In [ ]:
#Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Gokul